<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luwei.lwbaselib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivityNew"
            android:label="LWBaseLib"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImageActivity"
            android:label="图片加载ImageLoadUtils"/>
        <activity android:name=".activity.SimpleForResultActivity"
            android:label="简单返回事件传递SimpleForResult"/>
        <activity android:name=".activity.SimpleForResult2Activity" />
        <activity android:name=".activity.TitleBarAcitivity"
            android:label="通用标题栏"/>
        <activity
            android:name=".activity.DialogActivity"
            android:label="Dialog" />
        <activity android:name=".activity.LogActivity" />
        <activity
            android:name=".activity.PopupActivity"
            android:label="PopupWindow" />
        <activity android:name=".activity.PermissionActivity" />

        <activity android:name=".module.rxbus.RxBusActivity"
            android:label="RxBus"/>

        <activity android:name=".activity.UMShareAndAuthActivity"
            android:label="UMShare"/>

        <!--
        <activity android:name=".module.recyclerview.AdapterDemoActivity"
            />

        <activity android:name=".activity.RxBusActivity" />
        -->

        <activity android:name=".module.recyclerview.adapter.AdapterDemoActivity" />
        <activity android:name=".module.recyclerview.decoration.StaggeredActivity" />
        <activity android:name=".module.recyclerview.decoration.StickHeaderActivity" />
        <activity android:name=".module.recyclerview.decoration.TableDividerActivity" />
        <activity android:name=".module.recyclerview.RecyclerViewActivity" />
        <activity android:name=".module.recyclerview.decoration.DecorationActivity" />
        <activity android:name=".module.recyclerview.decoration.GridSpaceActivity" />
        <activity android:name=".activity.ImagePreviewActivity" />
        <activity android:name=".activity.HeaderActivity" />
        <activity
            android:name="me.nereo.image_selector.MultiImageSelectorActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.banner.BannerActivity" />
        <activity android:name=".activity.TimerButtonActivity" />
        <activity android:name=".module.rxbus.StickReceiverActivity" />

        <!-- 7.0拍照相册  注意 android:authorities 里面的值，在后面使用的getUriForFile(Context, String, File) 中， 第二个参数就是这个里面的值 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.luwei.lwbaselib.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>


    </application>

</manifest>